body {
	color: #241023;
	margin: 110px;
	background-color: #F7FFE0;
	font-family: 'Amiri', serif;
	text-align: center;
	font-size: 20px;
}
button {
	background-color: #F0C987;
	border: none;
	padding: 15px 15px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	}
button:hover {
	background-color: rgb(173, 141, 86);
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
div#header {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	background:#F2EFC7;
	padding: 7px;
	font-size: 60px;
}

.border {	
	border: 5px double #9F7E69;
	border-radius: 5px 5px 5px 5px;
	padding: 30px;
}
img {
	margin:50px;
	margin-bottom: 0px;

}
input{
	position: relative;
	width: 200px;
}

a {
	color: #241023;
	font-size: 20px;
}

a:hover {
	color: #241023;
  font-size: 22px;
}